.home-container {
    height: 100vh;
    padding-top: 150px;
    padding-left: calc(10vw) !important;
    padding-right: calc(10vw) !important;
}
.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagination-container .pagination .page-item .page-link {
    color: rgb(253,77,98);
}
.pagination-container .pagination .page-item .undefined {
    color: rgb(255,255,255);
    background-color: rgb(253,77,98);
    outline: rgb(253,77,98);
    border-color: rgb(187, 187, 187);
}
.pagination-container .pagination .page-item .active{
    background-color: rgb(253,77,98) !important;
    color: rgb(255,255,255) !important;
}