.sources-page-container {
    height: 100vh;
    padding-top: 150px;
    padding-left: calc(10vw) !important;
    padding-right: calc(10vw) !important;
}
.loader-container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.spinner-border{
    height: 150px !important;
    width: 150px !important;
    font-size: 50px;
    color: rgb(253,77,98) !important;
}
.spinner-border span{
    color: rgb(253,77,98) !important;
}