@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2');
.login-form-title{
    display: flex;
    justify-content: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 40px;
    font-weight: 700;
    color: rgba(45, 44, 58, 0.7);
    margin-top: 50px;
    margin-bottom: 50px;
}