@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2');

.news-card-container {
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    transition: all 250ms ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 2px 40px -10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 40px -10px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 40px -10px rgba(0, 0, 0, 0.18);
}

.news-subCars-container {
    position: absolute;
    padding: 20px;
    bottom: 0px;
    width: 100%;
    height: 30%;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(253, 77, 98);
    z-index: 10;
    transition: all 300ms ease-in-out;
    overflow: auto;
}

.news-subCars-container::-webkit-scrollbar {
    display: none;
}

.news-card-container:hover .news-subCars-container {
    height: 70%;
    border-radius: 20px;
    background-color: rgba(145, 145, 145, 0.849);
}

.news-card-container hr {
    display: block !important;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.425) !important;
    margin: 1em 0;
    padding: 0;
}

.news-title {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.title-icon {
    font-size: 25px;
    margin-right: 10px;
}

.news-publishedAt {
    font-family: 'Baloo Da 2', cursive;
    color: rgb(255, 255, 255);
}

.news-description {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18px;
    font-weight: 500;
    /* max-height: 70px;
    overflow: hidden; */
    color: rgb(255, 255, 255);
}

.news-content {
    font-family: 'Baloo Da 2', cursive;
    font-size: 15px;
    font-weight: 500;
    /* max-height: 100px;
    overflow: hidden; */
    color: rgb(255, 255, 255);
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.news-source {
    height: 30px;
    /* width: 100px; */
    background-color: rgba(253, 77, 97, 0.658);
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Baloo Da 2', cursive;
    color: rgb(255, 255, 255);

}

.news-link {
    background-color: rgba(253, 77, 97, 0.829);
    color: rgb(255, 255, 255) !important;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    transition: all 250ms ease-in-out;
    border-radius: 5px;
}

.news-link:hover {
    background-color: rgba(255, 255, 255, 0.74);
    color: rgba(253, 77, 97, 0.719) !important;
    transform: scale(1.1);
}


@media only screen and (max-width: 400px) {

    .news-title {
        font-size: 16px;
    }
    .news-description {
        font-size: 13px;
    }
    .news-content{
        font-size: 14px;
    }
    .news-subCars-container{
        height: 40%;
    }
 }