.alert {
    height: 25px;
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 2px !important;
    border-radius: 13px !important;
    margin-top: 5px;
    display: flex;
    justify-content: center;
 }
 .error{
     border-color: red;
 }